 .about-section {
    align-self: center;
    display: flex;
    width: 95vw;
    height: 80vh;
    margin: 10px;
    flex-direction: column;
 }
 .sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 10px;
   
 }


  .sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
 }
 .discription {
    width: 60%;height: 100%;
    border: 2px solid #454545;
    border-radius: 12px;
    font-size: 1.1rem; 
    line-height: 1.6;
    padding: 8px;
    display: flex;
    flex-direction: column;
    transition:  box-shadow 0.4s,transform 0.4s;
 }
  .discription:hover {
    border-color: #777;
    transform: translateY(-10px);
    box-shadow:
    0 2px 8px rgba(59,157,249,0.10),
    0 8px 24px rgba(59,157,249,0.18),
    0 16px 48px rgba(59,157,249,0.15);
    
  }

 .links{
    width: 30%;height: 100%;
    font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   margin-top: 1rem;
   border: 2px solid #454545;
   border-radius: 12px;
   padding: 10px;
   transition:  box-shadow 0.4s,transform 0.4s;
 }
.links:hover {
    border-color: #777;
    box-shadow:
    0 2px 8px rgba(59,157,249,0.10),
    0 8px 24px rgba(59,157,249,0.18),
    0 16px 48px rgba(59,157,249,0.15);
    transform: translateY(-4px);
  }


 .contact-button{
    align-self: center;
    margin: 8px;
 }

@media screen and (min-width: 320px) {
    .discription {
      margin: 10px;
      width: 100%;
      height: auto;
    }
     .links{
      width: 100%;
      height: auto;
     }
     .links h3{
      font-size: 1.6rem;
     }
}
@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 600px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1024px) {
    .discription {
      margin: 10px;
      width: 50%;
      height: auto;
    }
     .links{
      width: 40%;
      height: auto;
     }
     .links h3{
      font-size: 1.6rem;
     }
}





