 .about-section {
    align-self: center;
  display: flex;
 width: 95vw;
    height: 80vh;
   

  margin: 10px;
    flex-direction: column;
    align-self: flex-start;
   
 }
 .sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 20%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: sec1topdown 1.5s ease 0.2s forwards;
    margin: auto 10px;
    overflow: hidden;
 }
 @keyframes sec1topdown {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
 }


  .sec2 {
    display: flex;
    height: 70%;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
 }
 .discription {
    width: 60%;height: 100%;
    border: 2px dashed #555;
    border-radius: 12px;
    font-size: 1.1rem; 
    line-height: 1.6;
    color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: sec2lefttoright 1.5s ease 0.2s forwards;
 }
 @keyframes sec2lefttoright {
    from {opacity: 0; transform: translateX(-80px);}
    to {opacity: 1; transform: translateX(0);}
   
 }
 .links{
    width: 30%;height: 100%;
    font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   margin-top: 1rem;
   border: 2px dashed #555;
   border-radius: 12px;
   padding: 10px;
   animation: sec2righttoleft 1.5s ease 0.2s forwards;
 }

 @keyframes sec2righttoleft {
    from {opacity: 0; transform: translateX(80px);}
    to {opacity: 1; transform: translateX(0);}
   }

 .contact-button{
    align-self: center;
    margin: 8px;
 }