.contact-section {
    padding: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
   
    border-radius: 8px;
}
.wf-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    
}
.field{
    width:75vw;
    font-size: 1.8rem;
    font-weight: 700;
    align-self: center;
    margin: 10px auto;

}
.wf-form button{
    align-self: center;
}