.exp-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.exp-container{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
}
.card{
    border-width: 5px;
    border: 2px solid #454545;
    border-radius: 8px;
    
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.4s ;
}
.card:hover{
    border-color: rgb(23, 122, 242);
    transform: translateY(-10px);
    box-shadow:
        0 2px 8px rgba(59,157,249,0.10),
        0 8px 24px rgba(59,157,249,0.18),
        0 16px 48px rgba(59,157,249,0.15);
}