.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    padding: 10px;
}
.bottom-image{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: white;
    border-radius: 16px;
    object-fit: contain;
    height: 40px;
    width: 40px;
    transition: transform 0.4s ease;
}
.bottom-image:hover {
transform: scale(1.2);
}