.hero-section { 
  align-self: center;
  display: flex;
  width: 95vw;
  height: 80vh;
  justify-content: space-around;
  margin: 10px; 
}
#hero .btn-row { flex-wrap:wrap; }

.hero-img{
  width: 250px;
  height: 250px;
  margin: 20px;
  align-self: center;
  transform:rotate(40deg);
  border-radius: 6px;
  border: 2px dashed #555;
  transition: transform 0.5s, box-shadow 0.4s;
  box-shadow:
    5px 8px 20px rgba(59,157,249,0.10);

  
}




.hero-img:hover{
 
  box-shadow:
    0 2px 8px rgba(59,157,249,0.10),
    0 8px 24px rgba(59,157,249,0.18),
    0 16px 48px rgba(59,157,249,0.15);
  
}

.hero-discript{
  border-radius: 6px;
  font-size: 1rem;
  width: 60%;
  height: 60%;
  margin: 12px;
  box-shadow: 0 0 10px #222;
  overflow: hidden;
   align-self: center;
  border: 2px dashed #555;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition:  box-shadow 0.4s;

}


.hero-discript:hover{
  box-shadow:
    0 2px 8px rgba(59,157,249,0.10),
    0 8px 24px rgba(59,157,249,0.18),
    0 16px 48px rgba(59,157,249,0.15);
}

.greeting{
  font-size: 1.4rem;
  color: #bbb;
  text-align: left;
  padding: 8px;
  margin: 8px;
  margin-top: 16px;
}

.hero-discription{ 
  padding: 4px;
  margin: 4px;
  text-indent: 10px;
letter-spacing: 0.5px;
 text-align: left;
}
.contact-button{
  align-self: center;
}
.toggle-button{
  position: absolute;
  top: 130px;
  right: 50px;
 
}

