.journey-section{
    padding: 50px 20px;
    text-align: start;
    width: 90vw;
    max-height: fit-content;
    align-self: center;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    gap: 2rem;
    overflow:hidden;
    scrollbar-width: none; 
}

.step{
    margin: 6px;
    display: flex;
    width:100%;
}

.step:nth-child(odd){
    align-items:start;
    justify-content: start;
}

.step:nth-child(even){
    align-items: end;
    justify-content:end;
}


.text{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    padding: 20px;
   
    border: 2px solid #454545;
    border-radius: 10px;
    box-shadow: 0 0 10px #222;
}




