
.skills-section{ 
    display: flex; 
    flex-direction: column;
    gap: 1rem;

}
.skills-container {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    justify-content: center;
}

.role-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 2px dashed #555;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 10px;
 

}
.job-title {
    width: 40%;
    min-width: 120px;
    margin-right: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
  
}

.tag-cloud { 
    width:50%;
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem; 
    justify-content: center;
    align-items: center;
}

 .tag { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    
    border:1px dashed #666; 
    padding:.4rem 0.7rem; 
    border-radius: 999px; 
    font-size:1rem; 
    letter-spacing:.5px; 
   
}
.tag:hover { 
    
   
}

.carousel-btn{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
   

    border: 2px dashed #666;
    overflow: hidden;
}