* { box-sizing: border-box; }
html, body { margin:0; padding:0; }
body { font-family:  sans-serif,system-ui, Arial; 
    -webkit-font-smoothing: antialiased;
     background-color: #fefefe;
    }
img { max-width:100%; display:block; }
a {  text-decoration:none; color:inherit;transition: transform 0.5s, color 0.2s;}

a:hover { 
    transform: scale(1.2);
    color: #000000;
}
h1,h2,h3,h4,h5 { font-weight:600; line-height:1.2; }
code { font-family: ui-monospace, monospace,sans-serif; font-size:.85em; }
